* {
  margin: 0;
  font-family: 'Open Sans Condensed';
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
}


body {
  background-color: rgba(0,0,0);
}

nav {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: rgba(15,15,15);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0em 2em 1em 2em;
  text-align: center;
  font-size: 1.5em;
  box-shadow: 0 2px 8px 1px #8a0303;
  z-index: 2;
}

.nav-menus {
  display: flex;
  justify-content: space-between;
  width: 35%;
  font-size: 1em
}

.nav-logos {
  margin: 0 5% auto auto;

}

.admin {
  text-align: right;
}

.logo {
  font-size: 2.5em;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  font-family: 'Nosifer';
  background: linear-gradient(white 70%, #8a0303 70%);
  padding-top: 5em;
  transform: translateY(-5em);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
   animation: blood 5s infinite alternate;
}

@keyframes blood {
  0% {height: 4.2em}
  100% {height: 2.3em}
}

.title,
.hamburger,
.videos,
.admin,
.logo:hover {
  cursor: pointer
}

main {
  background-color: black;
}

.content {
  margin: 9em auto 0 auto;
  padding: 1em;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-template-rows: repeat(auto, minmax(500px, 1fr));
  grid-gap: 10px;

}

.card {
  border-radius: .3em;
  width: 310px;
  height: 500px;
  background-color: rgba(5,5,5,.8);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #8a0303;
  justify-self: center;
}
.card:hover{
  cursor: pointer
}



.card-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 55%;
  overflow: hidden;
  background-position: 50% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .9;
  border-radius: 1em;
  margin: .5em;
  box-shadow: inset 0 0 3px 1px #8a0303;
}

.flip-card {
  position: relative;
  height: 1.5em;
  width: 1.5em;

  text-align: center;
  font-size: 2.5em;
  margin: .1em 0 0 .1em;
  transform: rotate(-45deg);
  background: radial-gradient(rgba(138,3,3) 50%,
                              rgba(138,3,3, 0) 80%);
}

.kill-count {
  text-align: right;
  margin: .4em .7em 0 auto;
  font-size: 1.3em;
  color: white;
  text-shadow: 1px 1px 0px black,
               -1px 1px 0px black,
               -1px -1px 0px black,
               1px -1px 0px black;
  opacity: 1;

}

.card-bottom {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em;
  padding: .5em;
  background-color: rgba(0,0,0);
  box-shadow: inset 0 0 3px 1px #8a0303;
  border-radius: 10px;
  font-size: 1.1em;
}

a {
  color: rgba(120,156,250, .55);
}

a:hover {
  color: #8a0303;
}

.name {
  font-size: 1.7em
}
.date {
  opacity: .5;
  font-size: .9em;
}

.wiki-page {
  word-wrap: break-word;
  font-size: .8em;
  padding: .4em;
  background-color: rgba(138,3,3,0.35);
  border-radius: 2px;
}

.ratings,
.films {
  font-size: 1em
}



.shadow-on {
  /* filter: brightness(65%) sepia(35%);
  clip-path: circle(450px at var(--x) var(--y));
  animation: flicker 10s infinite; */
}


@keyframes flicker {
  44.2% {
    filter: brightness(65%) sepia(15%);
  }

  44.5% {
    filter: brightness(25%) sepia(15%);
  }

  44.7% {
    filter: brightness(65%) sepia(15%);
  }

  45% {
    filter: brightness(50%) sepia(15%);
  }

  45.6% {
    filter: brightness(50%) sepia(15%);
  }

  46% {
    filter: brightness(10%) sepia(15%);
  }

  46.2% {
    filter: brightness(65%) sepia(15%);
  }

  46.5% {
    filter: brightness(15%) sepia(15%);
  }

  47.5% {
    filter: brightness(65%) sepia(15%);
  }
}

/*LAPTOP*/
@media screen and (max-width: 1201px) {



}

/*TABLET*/
@media screen and (max-width: 769) {



}

/*PHONE*/
@media screen and (max-width: 769) {



}
